.text-modal-title {
  font-weight: 700;
}

.form-input {
  border: #d2d2d2 2px !important;
  background-color: #d2d2d2;
}

.text-button {
  color: #ffff;
  font-weight: 700;
}

.text-modal {
  font-weight: 400;
  color: #b1b1b1;
}

.modal-style {
  background-color: #e5e5e5;
}

.background-palm {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
}
.background-hibiscus {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
