.cardContentStyle {
  height: 350px;
  width: 350px;
}

.imageStyle {
  background-image: url(../../assets/content.png);
  width: 328px;
  height: 241px;
}

.imageContainer {
  position: relative;
}

.textImage {
  position: absolute;
  top: 8px;
  right: 0;
  font-weight: bold;
  background-color: #ffffff;
  padding: 5px 10px 5px 10px;
  border: #ffffff solid 1;
  border-radius: 5px 0 0 5px;
  text-align: right;
}
